*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 960px;
  margin: 50px auto;
}

.header-box{
  margin-bottom: 50px;
}

.list{
  padding: 20px 20px 20px;
}

.list:nth-child(odd){
  background-color: rgb(189, 188, 188);
}

.box-size{
  display: flex;
  flex-wrap: wrap;
}

.box1{
  height: 200px;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: gold;
}
.box1:nth-child(3n){
  margin-right: 0;
}

.box1:nth-child(1){
  background-color: orange;
}

.box1:nth-child(5){
  background-color: orange;
}

.box1:nth-child(7){
  margin-bottom: 0;
}
.box1:nth-child(8){
  margin-bottom: 0;
}

.box1:nth-child(9){
  margin-bottom: 0;
  background-color: orange;
}
