* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box1 {
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  position: relative;
  background-color: #eeeeee;
}

.box1:last-child{
  margin-right: 0;
}

.img1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.img2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.img3 {
  height: 150px;
  margin: 0;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.step {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #ff9a4b;
}

h3 {
  margin-top: 15px;
}

p {
  margin-top: 5px;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

